node-linker=hoisted
legacy-peer-deps=true
# Disable workspaces feature during Docker build
use-workspace-protocol=false
# Resolve workspace: to version
workspace-protocol=true
# Make npm interpret workspace: as if it were a normal version specification
save-workspace-protocol=false
